/* Common Styling */

body {
  margin:0;
}

h1 {
  color: #8fc2b8;
  font-size: 80;
}

h2 {
  color: #8fc2b8;
  font-weight: 400;
  font-size: 50;
  font-family: serif;
	margin-bottom: 10;
}

#main {
  margin: 0 auto;
  overflow: hidden;
  width: 800px;/*680*/
  text-align: center;
}

#about {
  margin: 0 auto;
  overflow: hidden;
  width: 800px;/*680*/
  text-align: center;
}
